{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-4">
        <h1 class="display-1">Merch</h1>
    </div>
    <div class="col">
        <a href="/blog/new" class="btn btn-primary btn-sm mt-5" role="button">new post</a>
    </div>
</div>
{% if blogs %}
    <div class="row">
        {% for blog in blogs %}
            <div class="col-4">
                {% if blog.image %}
                    <img class="img-thumbnail img-fluid" width="200" src="data:image;base64,{{base64encode(blog.image.read())}}"> <br>
                {% else %}
                    <img class="img-thumbnail" width = "100" src="/static/bdog.png">
                {% endif %} 
                style: <a href="/blog/{{blog.id}}">{{blog.subject}}</a> <br>
                price: {{blog.content}} <br> 
                size: {{blog.tag}}
            </div>
        {% endfor %}
    </div>
{% endif %}



{% endblock %}